<?xml version="1.0" encoding="utf-8"?>
<Media Key="eaddabc2-f3e6-4bba-971f-cb7bc0229e67" Alias="Aaron-Image.svg" Level="2">
  <Info>
    <Parent Key="a4112010-1c7b-4812-9db5-344eb30c6015">Team Members</Parent>
    <Path>/TeamMembers/AaronImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-26T18:41:27</CreateDate>
    <NodeName Default="Aaron-Image.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/galh4ch3/aaron-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>