<?xml version="1.0" encoding="utf-8"?>
<Media Key="d448f20a-241c-4405-8090-b80fde4ed714" Alias="Aaron-Image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AaronImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T22:42:52</CreateDate>
    <NodeName Default="Aaron-Image.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5bhpunqh/aaron-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>