<?xml version="1.0" encoding="utf-8"?>
<Media Key="80b9e53f-bf0b-464e-833a-2145f0fce4b9" Alias="AJ-Iamge.svg" Level="2">
  <Info>
    <Parent Key="a4112010-1c7b-4812-9db5-344eb30c6015">Team Members</Parent>
    <Path>/TeamMembers/AJIamgesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-26T18:40:42</CreateDate>
    <NodeName Default="AJ-Iamge.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zvmbwyqq/aj-iamge.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>