<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4985eb1-3f47-473d-b91f-e6a83779f576" Alias="Assurance-audits.svg" Level="2">
  <Info>
    <Parent Key="cb3b7a7e-480b-435e-a977-27edd5d2f3ac">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-26T21:35:00</CreateDate>
    <NodeName Default="Assurance-audits.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iprdurs2/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>