<?xml version="1.0" encoding="utf-8"?>
<Media Key="00aed645-f2b6-4add-b0fb-dd8911041a2d" Alias="Assurance-audits.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/AssuranceAuditssvg</Path>
    <Trashed Parent="cb3b7a7e-480b-435e-a977-27edd5d2f3ac">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:09:30</CreateDate>
    <NodeName Default="Assurance-audits.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w3vbzyvn/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>