<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e7f8701-f6f2-49a9-8db6-215068cb0098" Alias="Bonds-Commodities.svg" Level="2">
  <Info>
    <Parent Key="cb3b7a7e-480b-435e-a977-27edd5d2f3ac">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-26T21:35:03</CreateDate>
    <NodeName Default="Bonds-Commodities.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4m3n1dhj/bonds-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>