<?xml version="1.0" encoding="utf-8"?>
<Media Key="4022b821-05b6-4c22-be40-3313ce8d9452" Alias="Bonds-Commodities.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:09:31</CreateDate>
    <NodeName Default="Bonds-Commodities.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0mcjbivn/bonds-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>