<?xml version="1.0" encoding="utf-8"?>
<Media Key="da01e0a0-5b63-4af2-995e-06ecccd6922c" Alias="Brand.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Brandsvg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-21T21:19:43</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kjolgody/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>