<?xml version="1.0" encoding="utf-8"?>
<Media Key="e46d82ec-4968-4627-89d4-fc60ff808a9b" Alias="Brandon-Image.svg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BrandonImagesvg1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-26T18:40:47</CreateDate>
    <NodeName Default="Brandon-Image.svg (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dy5n4btt/brandon-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>