<?xml version="1.0" encoding="utf-8"?>
<Media Key="345e696e-98ad-4399-a20e-438f9d4fd9b2" Alias="Brandon-Kerr-Image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandonKerrImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T22:42:52</CreateDate>
    <NodeName Default="Brandon-Kerr-Image.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ttkpzvvw/brandon-kerr-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>