<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e0d7a13-a4c8-4b24-85b5-dfe8b413ad49" Alias="Brandon-Image.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BrandonImagesvg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T22:40:46</CreateDate>
    <NodeName Default="Brandon-Image.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2hdl5dgt/brandon-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>