<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2ccb836-3e21-46cd-8c15-32d3560567b9" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-26T22:05:46</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yqch2mb0/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>