<?xml version="1.0" encoding="utf-8"?>
<Media Key="639724c1-b9cc-4ac0-b4cd-7613c73c961f" Alias="Brandon-Image.svg" Level="2">
  <Info>
    <Parent Key="a4112010-1c7b-4812-9db5-344eb30c6015">Team Members</Parent>
    <Path>/TeamMembers/BrandonImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-26T18:40:25</CreateDate>
    <NodeName Default="Brandon-Image.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gomdlaox/brandon-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>