<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0434fd0-c51c-47be-bc8a-507d8ebaaecf" Alias="Component 2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Component2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T16:10:02</CreateDate>
    <NodeName Default="Component 2.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/elzocuqh/component-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>