<?xml version="1.0" encoding="utf-8"?>
<Media Key="05f20587-1d29-47c5-abe9-bf8b2558ad95" Alias="Financial-advisor.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:09:31</CreateDate>
    <NodeName Default="Financial-advisor.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ow2fbzzs/financial-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>