<?xml version="1.0" encoding="utf-8"?>
<Media Key="195e5e1e-cd1b-4683-ae03-f7cb57951ce8" Alias="kevin-gardner-review.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnerReviewsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T21:01:49</CreateDate>
    <NodeName Default="kevin-gardner-review.svg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3trpz4ya/kevin-gardner-review.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>