<?xml version="1.0" encoding="utf-8"?>
<Media Key="85cc8906-8cd3-4acd-8811-67f5bfdfacf1" Alias="Kevin-Gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T22:42:52</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4q0g2z4i/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>