<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fe5fb4c-f48b-483c-b5d3-3699698d6a54" Alias="map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T19:02:30</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xzdepdmq/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>