<?xml version="1.0" encoding="utf-8"?>
<Media Key="affa67b1-28cb-48f1-8431-7fd4719fa0ec" Alias="Miranda-Image.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MirandaImagesvg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T22:42:52</CreateDate>
    <NodeName Default="Miranda-Image.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ipnfqtoq/miranda-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>