<?xml version="1.0" encoding="utf-8"?>
<Media Key="97c80a59-0ea9-4f7a-bd97-41d3f99c3052" Alias="Miranda-Image.svg" Level="2">
  <Info>
    <Parent Key="a4112010-1c7b-4812-9db5-344eb30c6015">Team Members</Parent>
    <Path>/TeamMembers/MirandaImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-26T18:41:03</CreateDate>
    <NodeName Default="Miranda-Image.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vo1hu3ns/miranda-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>