<?xml version="1.0" encoding="utf-8"?>
<Media Key="3617651f-0450-40ee-9658-fc6de0e7aaab" Alias="Partner-4.svg" Level="2">
  <Info>
    <Parent Key="add4062c-6518-41bc-8ac3-4d45e2954bfb">Partners</Parent>
    <Path>/Partners/Partner4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T15:02:39</CreateDate>
    <NodeName Default="Partner-4.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3xmllvcl/partner-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>