<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f4bd1c0-9ef5-4629-adb3-f601243fa922" Alias="Partner-5.svg" Level="2">
  <Info>
    <Parent Key="add4062c-6518-41bc-8ac3-4d45e2954bfb">Partners</Parent>
    <Path>/Partners/Partner5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T15:02:39</CreateDate>
    <NodeName Default="Partner-5.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gjwot1po/partner-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>