<?xml version="1.0" encoding="utf-8"?>
<Media Key="502297f2-5786-4420-8e3b-a2d16e8a9746" Alias="Partner-2.svg" Level="2">
  <Info>
    <Parent Key="add4062c-6518-41bc-8ac3-4d45e2954bfb">Partners</Parent>
    <Path>/Partners/Partner2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T15:02:39</CreateDate>
    <NodeName Default="Partner-2.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aavibmu3/partner-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>