<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5e18d96-9560-4f41-bcea-1aa6ea6edc61" Alias="Partner-6.svg" Level="2">
  <Info>
    <Parent Key="add4062c-6518-41bc-8ac3-4d45e2954bfb">Partners</Parent>
    <Path>/Partners/Partner6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T15:02:39</CreateDate>
    <NodeName Default="Partner-6.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mqyegb11/partner-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>