<?xml version="1.0" encoding="utf-8"?>
<Media Key="add4062c-6518-41bc-8ac3-4d45e2954bfb" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-07T15:02:15</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties />
</Media>