<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd56c666-d1ad-4ae7-b572-494a7905236a" Alias="Review-Rating.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ReviewRatingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T20:53:39</CreateDate>
    <NodeName Default="Review-Rating.svg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sr3pip3w/review-rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>