<?xml version="1.0" encoding="utf-8"?>
<Media Key="c31528a6-74cb-43f8-8c9c-7d12c8cd7f2f" Alias="Risk-Management.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:05:12</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kskloioq/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>