<?xml version="1.0" encoding="utf-8"?>
<Media Key="63c36db3-65ed-40c7-b7cd-85292e900fcf" Alias="Risk-Management.svg" Level="2">
  <Info>
    <Parent Key="cb3b7a7e-480b-435e-a977-27edd5d2f3ac">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-26T21:35:10</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ihigdapw/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>