<?xml version="1.0" encoding="utf-8"?>
<Media Key="665b14b3-8307-4260-ab9d-6d0088cc9348" Alias="Service-Details-Aside.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceDetailsAsidesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T19:42:40</CreateDate>
    <NodeName Default="Service-Details-Aside.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iguptba2/service-details-aside.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>