<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb3b7a7e-480b-435e-a977-27edd5d2f3ac" Alias="Service Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-26T18:37:26</CreateDate>
    <NodeName Default="Service Thumbnails" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>