<?xml version="1.0" encoding="utf-8"?>
<Media Key="797d2eb1-aa22-4835-ab6a-60e6f1c1d03b" Alias="Serviec-Detail-Image-2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiecDetailImage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T21:17:35</CreateDate>
    <NodeName Default="Serviec-Detail-Image-2.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iojn5gzz/serviec-detail-image-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>