<?xml version="1.0" encoding="utf-8"?>
<Media Key="414b9d98-97f5-41f8-8436-a8e24e1c4989" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-26T22:02:34</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/niqoti5o/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>