<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c7f2a9f-4801-4b96-8fdc-f84a107f57e8" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T21:24:38</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nwln1hq0/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>