<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e515714-21c0-477c-bbe2-f4c07e14924c" Alias="Statistic-advisor.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/StatisticAdvisorsvg</Path>
    <Trashed Parent="cb3b7a7e-480b-435e-a977-27edd5d2f3ac">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:09:31</CreateDate>
    <NodeName Default="Statistic-advisor.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/21vphhg1/statistic-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>