<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f4f1915-00ac-4435-8c0e-0ef0a767ca98" Alias="Success-Story-Image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessStoryImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T22:51:42</CreateDate>
    <NodeName Default="Success-Story-Image.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/24so1dnx/success-story-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>