<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c2fb409-35a6-44ce-b579-1edc0a2a9aac" Alias="Tax-Trusts.svg" Level="2">
  <Info>
    <Parent Key="cb3b7a7e-480b-435e-a977-27edd5d2f3ac">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-26T21:35:13</CreateDate>
    <NodeName Default="Tax-Trusts.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5mej1pv3/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>