<?xml version="1.0" encoding="utf-8"?>
<Media Key="03668da4-9ce6-47f8-9912-13db1dec1d8a" Alias="Tax-Trusts.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:09:31</CreateDate>
    <NodeName Default="Tax-Trusts.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kyymjyp3/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>