<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4112010-1c7b-4812-9db5-344eb30c6015" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-26T18:37:44</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties />
</Media>