<?xml version="1.0" encoding="utf-8"?>
<Media Key="6313dd10-7969-479e-97b5-a40b99ba0bab" Alias="Tina-CEO-Image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaCEOImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T19:45:34</CreateDate>
    <NodeName Default="Tina-CEO-Image.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2jqldals/tina-ceo-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>