<?xml version="1.0" encoding="utf-8"?>
<Media Key="4804ddfe-5ef2-4ea0-9587-38134eb71f8e" Alias="Tina-Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T17:45:20</CreateDate>
    <NodeName Default="Tina-Signature.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/brqknkxj/tina-signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>