<?xml version="1.0" encoding="utf-8"?>
<Media Key="e57d75ac-2689-4cef-9927-65b4671e4109" Alias="Tina-Image.svg" Level="2">
  <Info>
    <Parent Key="a4112010-1c7b-4812-9db5-344eb30c6015">Team Members</Parent>
    <Path>/TeamMembers/TinaImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-26T18:41:13</CreateDate>
    <NodeName Default="Tina-Image.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l1en4b2s/tina-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>