<?xml version="1.0" encoding="utf-8"?>
<Media Key="163933f0-2026-4b4f-8594-462565909d12" Alias="Trusted-Group-Image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TrustedGroupImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T16:47:37</CreateDate>
    <NodeName Default="Trusted-Group-Image.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/akhjx3b3/trusted-group-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>