<?xml version="1.0" encoding="utf-8"?>
<Content Key="544b9eac-cb74-4727-8707-582f3d9cdf43" Alias="2025-11-10 23:40 - johan" Level="2">
  <Info>
    <Parent Key="8711def8-86b5-4a2c-9f2b-88f8944eb17c">Form Submissions</Parent>
    <Path>/FormSubmissions/johan</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T23:40:41</CreateDate>
    <NodeName Default="2025-11-10 23:40 - johan" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[johan@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[johan]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Test2]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0700000000]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>