<?xml version="1.0" encoding="utf-8"?>
<Content Key="02cc7b9d-8631-4dab-b176-53efe583f90f" Alias="2025-10-31 20:14 - test" Level="2">
  <Info>
    <Parent Key="8711def8-86b5-4a2c-9f2b-88f8944eb17c">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T20:14:07</CreateDate>
    <NodeName Default="2025-10-31 20:14 - test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0593295044]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>