<?xml version="1.0" encoding="utf-8"?>
<Content Key="81735ef9-796c-4db2-ac0d-0f1fc432ae05" Alias="2025-10-31 20:14 - munne" Level="2">
  <Info>
    <Parent Key="8711def8-86b5-4a2c-9f2b-88f8944eb17c">Form Submissions</Parent>
    <Path>/FormSubmissions/munne</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T20:14:55</CreateDate>
    <NodeName Default="2025-10-31 20:14 - munne" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[munne@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[munne]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0869486666]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>