<?xml version="1.0" encoding="utf-8"?>
<Content Key="162f8a4e-bb1d-46ad-a10c-425b62211e66" Alias="2025-11-10 23:44 - test" Level="2">
  <Info>
    <Parent Key="8711def8-86b5-4a2c-9f2b-88f8944eb17c">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T23:44:16</CreateDate>
    <NodeName Default="2025-11-10 23:44 - test" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Test3]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0682953556]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>