<?xml version="1.0" encoding="utf-8"?>
<Content Key="a92edbf5-beac-4844-883e-6b975e3f297a" Alias="About" Level="2">
  <Info>
    <Parent Key="d6ddc922-ae81-49a2-86e9-8bf80eac2b31">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-20T22:44:33</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="43857768-4dda-439e-992b-26700ab31c06">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a4ce473e-8868-4494-a5b0-a96918577f11",
      "key": "40410ef5-85c1-4c28-9073-8c4f993b2fc2",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Expert"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "cc12c634-e7a6-47b5-9aa9-9a5245398dfe",
                "key": "ef735155-cf83-401c-a15f-0514d6cb6ac1",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9d8e15bb-715f-4880-8cbb-36c8d38d8d9d",
                        "mediaKey": "6e0d7a13-a4c8-4b24-85b5-dfe8b413ad49",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "cc12c634-e7a6-47b5-9aa9-9a5245398dfe",
                "key": "52643688-3fe1-4d5f-b1e0-98f1f23145de",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "79b9b58b-f506-4614-a74b-0451f43d169a",
                        "mediaKey": "23931d0e-0a76-43d9-b227-952982627d39",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "cc12c634-e7a6-47b5-9aa9-9a5245398dfe",
                "key": "254842d9-3ee7-4deb-81ef-877ebfe87c86",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "85ba281f-3ab3-4efe-bbaf-c6c5a9a9db1c",
                        "mediaKey": "d448f20a-241c-4405-8090-b80fde4ed714",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "cc12c634-e7a6-47b5-9aa9-9a5245398dfe",
                "key": "695c8477-a118-4544-8958-7c241389fcae",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6d5c715a-3518-49fc-bcaa-e293982226d0",
                        "mediaKey": "a23da215-a0f6-44b0-bc64-16af7607d4ca",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "cc12c634-e7a6-47b5-9aa9-9a5245398dfe",
                "key": "41cfcc7e-03d0-46d2-8c65-964a59fd4382",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e64da929-34d9-4450-a66b-98eb6551cff7",
                        "mediaKey": "345e696e-98ad-4399-a20e-438f9d4fd9b2",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "cc12c634-e7a6-47b5-9aa9-9a5245398dfe",
                "key": "f6000b79-6421-4b33-90a8-07370f6128a3",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f9fa3f73-47e5-4934-bea1-b54abbd1d8ad",
                        "mediaKey": "affa67b1-28cb-48f1-8431-7fd4719fa0ec",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "cc12c634-e7a6-47b5-9aa9-9a5245398dfe",
                "key": "ab0f5bc8-e5fe-4ca0-98ec-0416bbd10ec7",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e6c9bcdd-7fca-4821-a611-e7267cf38697",
                        "mediaKey": "85cc8906-8cd3-4acd-8811-67f5bfdfacf1",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "ef735155-cf83-401c-a15f-0514d6cb6ac1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "52643688-3fe1-4d5f-b1e0-98f1f23145de",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "254842d9-3ee7-4deb-81ef-877ebfe87c86",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "695c8477-a118-4544-8958-7c241389fcae",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "41cfcc7e-03d0-46d2-8c65-964a59fd4382",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f6000b79-6421-4b33-90a8-07370f6128a3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ab0f5bc8-e5fe-4ca0-98ec-0416bbd10ec7",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "ef735155-cf83-401c-a15f-0514d6cb6ac1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "52643688-3fe1-4d5f-b1e0-98f1f23145de",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "254842d9-3ee7-4deb-81ef-877ebfe87c86",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "695c8477-a118-4544-8958-7c241389fcae",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "41cfcc7e-03d0-46d2-8c65-964a59fd4382",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f6000b79-6421-4b33-90a8-07370f6128a3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ab0f5bc8-e5fe-4ca0-98ec-0416bbd10ec7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "40410ef5-85c1-4c28-9073-8c4f993b2fc2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "40410ef5-85c1-4c28-9073-8c4f993b2fc2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>