<?xml version="1.0" encoding="utf-8"?>
<Content Key="a38d93f5-e218-4324-bf29-1565361c2279" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d6ddc922-ae81-49a2-86e9-8bf80eac2b31">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-19T19:58:25</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4431b7e7-7950-49b2-a39d-682c6a318502">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0af1b584-6614-4160-af40-eed8cd7243a1",
      "key": "31649176-20f0-4892-85d8-f69492a6ae0d",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7f92ce74-a4f1-4b38-8559-ffad2158b704",
              "mediaKey": "b0434fd0-c51c-47be-bc8a-507d8ebaaecf",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    },
    {
      "contentTypeKey": "04f6419d-df24-4321-aef9-737077c79899",
      "key": "896345e8-c271-4b51-a767-3930be8b37ea",
      "udi": null,
      "values": [
        {
          "alias": "partnerList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "02cef061-4588-4f4c-873a-00b2ed7d1423",
                "key": "87de9713-969a-40a1-b84c-ee29afb0d935",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Freedombird"
                  },
                  {
                    "alias": "partnerLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e3668f4f-46e2-4016-acda-e8ccf9da2417",
                        "mediaKey": "1f8e24dd-5b40-4728-b631-9462e650b57f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "02cef061-4588-4f4c-873a-00b2ed7d1423",
                "key": "6ee02144-b7eb-4d39-aace-9790d3305a1c",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  },
                  {
                    "alias": "partnerLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ccdef52e-13af-474a-807d-4e9013060de5",
                        "mediaKey": "502297f2-5786-4420-8e3b-a2d16e8a9746",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "02cef061-4588-4f4c-873a-00b2ed7d1423",
                "key": "2206f831-1645-41f3-af0d-ea137baf79fe",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  },
                  {
                    "alias": "partnerLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8d693f1e-4131-4244-a2c8-539d813db3a6",
                        "mediaKey": "1541b7df-cfef-4f2b-a317-be90e0b59fcd",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "02cef061-4588-4f4c-873a-00b2ed7d1423",
                "key": "ad4326c4-64c9-48f6-b95b-0b959e1d4c48",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  },
                  {
                    "alias": "partnerLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4927d39c-57a3-410f-9ba4-8ab7737c4e38",
                        "mediaKey": "3617651f-0450-40ee-9658-fc6de0e7aaab",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "02cef061-4588-4f4c-873a-00b2ed7d1423",
                "key": "34d655d9-7396-45d0-a420-1b47323c86d1",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  },
                  {
                    "alias": "partnerLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8bcdcc84-f95b-435d-99d4-063689cb1d44",
                        "mediaKey": "0f4bd1c0-9ef5-4629-adb3-f601243fa922",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "02cef061-4588-4f4c-873a-00b2ed7d1423",
                "key": "e166d8e9-4be5-4d7a-af53-f1870e397a16",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Fossil Group"
                  },
                  {
                    "alias": "partnerLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "49715fc9-8c42-4365-9709-795bc3186ef9",
                        "mediaKey": "e5e18d96-9560-4f41-bcea-1aa6ea6edc61",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "87de9713-969a-40a1-b84c-ee29afb0d935",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6ee02144-b7eb-4d39-aace-9790d3305a1c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2206f831-1645-41f3-af0d-ea137baf79fe",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ad4326c4-64c9-48f6-b95b-0b959e1d4c48",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "34d655d9-7396-45d0-a420-1b47323c86d1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e166d8e9-4be5-4d7a-af53-f1870e397a16",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "87de9713-969a-40a1-b84c-ee29afb0d935",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6ee02144-b7eb-4d39-aace-9790d3305a1c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2206f831-1645-41f3-af0d-ea137baf79fe",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ad4326c4-64c9-48f6-b95b-0b959e1d4c48",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "34d655d9-7396-45d0-a420-1b47323c86d1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e166d8e9-4be5-4d7a-af53-f1870e397a16",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "a6c0426d-453a-4ad0-993e-b67def17f12b",
      "key": "82917cd7-6cfc-41b1-8a85-60e51c82da95",
      "udi": null,
      "values": [
        {
          "alias": "contactCallbackImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "21c7e6ce-8373-428d-8c6b-f79136494b51",
              "mediaKey": "6fe5fb4c-f48b-483c-b5d3-3699698d6a54",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactCallbackBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-secondary\u0022\u003ERequest a call back\u003C/span\u003E\u003C/p\u003E\u003Ch2 class=\u0022text-rte-h2 font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your\u003Cbr\u003Enext project\u003C/span\u003E\u003C/h2\u003E\u003Cp class=\u0022text-rte-xs font-regular\u0022 style=\u0022text-align: center\u0022\u003E\u003Cem\u003E\u003Cspan class=\u0022text-body-text\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e16a2eda-0eac-41df-bb69-593a83487cd4",
      "key": "3a54fabb-aac8-4962-ad59-3f6bc4afddae",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "c84cd9ef-743b-4bbe-a605-7b6222eff670",
      "key": "3a837e1a-d728-4425-8ec3-78cd693895c0",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test1\nTest2\nTest3"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "31649176-20f0-4892-85d8-f69492a6ae0d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "896345e8-c271-4b51-a767-3930be8b37ea",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "82917cd7-6cfc-41b1-8a85-60e51c82da95",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "31649176-20f0-4892-85d8-f69492a6ae0d",
        "contentUdi": null,
        "settingsKey": "3a54fabb-aac8-4962-ad59-3f6bc4afddae",
        "settingsUdi": null
      },
      {
        "contentKey": "82917cd7-6cfc-41b1-8a85-60e51c82da95",
        "contentUdi": null,
        "settingsKey": "3a837e1a-d728-4425-8ec3-78cd693895c0",
        "settingsUdi": null
      },
      {
        "contentKey": "896345e8-c271-4b51-a767-3930be8b37ea",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>