<?xml version="1.0" encoding="utf-8"?>
<Content Key="a38d93f5-e218-4324-bf29-1565361c2279" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d6ddc922-ae81-49a2-86e9-8bf80eac2b31">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-19T19:58:25</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4431b7e7-7950-49b2-a39d-682c6a318502">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>