<?xml version="1.0" encoding="utf-8"?>
<Content Key="a38d93f5-e218-4324-bf29-1565361c2279" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d6ddc922-ae81-49a2-86e9-8bf80eac2b31">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-19T19:58:25</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4431b7e7-7950-49b2-a39d-682c6a318502">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0af1b584-6614-4160-af40-eed8cd7243a1",
      "key": "31649176-20f0-4892-85d8-f69492a6ae0d",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7f92ce74-a4f1-4b38-8559-ffad2158b704",
              "mediaKey": "b0434fd0-c51c-47be-bc8a-507d8ebaaecf",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e16a2eda-0eac-41df-bb69-593a83487cd4",
      "key": "3a54fabb-aac8-4962-ad59-3f6bc4afddae",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "31649176-20f0-4892-85d8-f69492a6ae0d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "31649176-20f0-4892-85d8-f69492a6ae0d",
        "contentUdi": null,
        "settingsKey": "3a54fabb-aac8-4962-ad59-3f6bc4afddae",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>