<?xml version="1.0" encoding="utf-8"?>
<Content Key="9de9593e-99ea-4d22-ab5f-bd1c11909e0c" Alias="Services" Level="2">
  <Info>
    <Parent Key="d6ddc922-ae81-49a2-86e9-8bf80eac2b31">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-20T21:59:24</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="52926b2e-ec0e-427a-9921-4458941dd1a3">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bcf40b3c-2f29-4a72-a580-a9112a53a39c",
      "key": "a0dc89e5-2921-4d8a-85ea-8b65c248e421",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceItemList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d8ebbd58-5a26-4029-aeda-c2dbbb25bc64",
                "key": "4fa99977-cdaa-48d4-ba13-d2e9f5a945fc",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a6ee2b37-f9a9-44ba-bbe6-ca0ab2d419dc",
                        "mediaKey": "c31528a6-74cb-43f8-8c9c-7d12c8cd7f2f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "d8ebbd58-5a26-4029-aeda-c2dbbb25bc64",
                "key": "3bf33fda-7193-48d5-80b1-2a8667283722",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "00488104-337f-4b80-ab56-830826f48eef",
                        "mediaKey": "4022b821-05b6-4c22-be40-3313ce8d9452",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "d8ebbd58-5a26-4029-aeda-c2dbbb25bc64",
                "key": "9716229c-6223-4b51-9660-91a99595f0c2",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "serviceText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "39db5af0-e37f-415f-9f56-e18adab0a40f",
                        "mediaKey": "00aed645-f2b6-4add-b0fb-dd8911041a2d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "d8ebbd58-5a26-4029-aeda-c2dbbb25bc64",
                "key": "59547d5b-e7bf-4f08-a756-267cd514805a",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2e46aa04-4014-4fd5-8972-81bb4ee4cb1b",
                        "mediaKey": "03668da4-9ce6-47f8-9912-13db1dec1d8a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "d8ebbd58-5a26-4029-aeda-c2dbbb25bc64",
                "key": "36c01cfb-6e78-48c5-bf56-429ad5987d95",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7ecd0539-001d-4214-821e-694d54f13762",
                        "mediaKey": "05f20587-1d29-47c5-abe9-bf8b2558ad95",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "d8ebbd58-5a26-4029-aeda-c2dbbb25bc64",
                "key": "d75a5a4c-c49c-407f-9399-0858e1252d69",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6f82d664-a9ad-4369-911c-97e896d63dbb",
                        "mediaKey": "7e515714-21c0-477c-bbe2-f4c07e14924c",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "4fa99977-cdaa-48d4-ba13-d2e9f5a945fc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3bf33fda-7193-48d5-80b1-2a8667283722",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9716229c-6223-4b51-9660-91a99595f0c2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "59547d5b-e7bf-4f08-a756-267cd514805a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "36c01cfb-6e78-48c5-bf56-429ad5987d95",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d75a5a4c-c49c-407f-9399-0858e1252d69",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "4fa99977-cdaa-48d4-ba13-d2e9f5a945fc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3bf33fda-7193-48d5-80b1-2a8667283722",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9716229c-6223-4b51-9660-91a99595f0c2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "59547d5b-e7bf-4f08-a756-267cd514805a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "36c01cfb-6e78-48c5-bf56-429ad5987d95",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d75a5a4c-c49c-407f-9399-0858e1252d69",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e9f1685d-afd3-437f-b000-7a39315a71f3",
      "key": "6e3af8c5-f450-479e-89bb-d674f11e8960",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a0dc89e5-2921-4d8a-85ea-8b65c248e421",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a0dc89e5-2921-4d8a-85ea-8b65c248e421",
        "contentUdi": null,
        "settingsKey": "6e3af8c5-f450-479e-89bb-d674f11e8960",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>