<?xml version="1.0" encoding="utf-8"?>
<Content Key="9de9593e-99ea-4d22-ab5f-bd1c11909e0c" Alias="Services" Level="2">
  <Info>
    <Parent Key="d6ddc922-ae81-49a2-86e9-8bf80eac2b31">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-20T21:59:24</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="52926b2e-ec0e-427a-9921-4458941dd1a3">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bcf40b3c-2f29-4a72-a580-a9112a53a39c",
      "key": "a0dc89e5-2921-4d8a-85ea-8b65c248e421",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "0af1b584-6614-4160-af40-eed8cd7243a1",
      "key": "b533eaed-c3b6-415d-930b-6a6600b76ffb",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a933dbe4-4d53-486e-b50c-8575fcabf9eb",
              "mediaKey": "b0434fd0-c51c-47be-bc8a-507d8ebaaecf",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e9f1685d-afd3-437f-b000-7a39315a71f3",
      "key": "6e3af8c5-f450-479e-89bb-d674f11e8960",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "e16a2eda-0eac-41df-bb69-593a83487cd4",
      "key": "dda2e479-4c35-429b-8705-d98ee240679d",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a0dc89e5-2921-4d8a-85ea-8b65c248e421",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b533eaed-c3b6-415d-930b-6a6600b76ffb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a0dc89e5-2921-4d8a-85ea-8b65c248e421",
        "contentUdi": null,
        "settingsKey": "6e3af8c5-f450-479e-89bb-d674f11e8960",
        "settingsUdi": null
      },
      {
        "contentKey": "b533eaed-c3b6-415d-930b-6a6600b76ffb",
        "contentUdi": null,
        "settingsKey": "dda2e479-4c35-429b-8705-d98ee240679d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>