@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.PartnerLogoItem)Model.Content;
}


<div>
    <img src="@content.PartnerLogoImage?.Url()" />
</div>
