@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ReviewSection)Model.Content;
}

<section class="bg-white-100 flex">
    <div class="pt-[3.5rem] container flex">
        <div class="flex flex-col gap-3 pl-[15rem]">
            <div class="pr-[10rem] mb-4">
                <p class="text-[.825rem] font-bold text-secondary">@content.ReviewLabel</p>
                <h2 class="text-[2.5rem] text-primary font-bold">@content.ReviewTitle</h2>
            </div>

            <div class="flex flex-col gap-3 pr-6">@Html.Raw(content.ReviewBody)</div>
        </div>


    </div>

    <div class="w-full">
        <img src="@content.ReviewImage?.Url()" />
    </div>
</section>