@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.SuccessStoryItem)Model.Content;
}

<div class="pb-2">
    <div class="p-4 flex flex-col items-center text-center">
        <p class="font-semibold text-[6.25rem] text-secondary">@content.SuccessItemTitle</p>
        <p class="text-[1.125rem] text-neutral font-semibold">@content.SuccessItemText</p>
    </div>
</div>