<?xml version="1.0" encoding="utf-8"?>
<DataType Key="65a39efb-ae31-4a84-b9bf-716376dcf537" Alias="About Callback Settings - CallbackRequestOptions - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>About Callback Settings - CallbackRequestOptions - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>