<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f978a18-b7af-479d-b84a-ee855ee099d2" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c5b5c19d-49cf-4d1e-b0fb-4e910786249a"
    },
    {
      "contentElementTypeKey": "bcf40b3c-2f29-4a72-a580-a9112a53a39c",
      "settingsElementTypeKey": "e9f1685d-afd3-437f-b000-7a39315a71f3"
    },
    {
      "contentElementTypeKey": "a4ce473e-8868-4494-a5b0-a96918577f11"
    },
    {
      "contentElementTypeKey": "f37879e3-436c-4a38-9c16-3d9ec6489526",
      "settingsElementTypeKey": "a99f1b33-8ef8-4e21-9365-4d8b7afffb3d"
    },
    {
      "contentElementTypeKey": "5cd1fcb9-b8ac-4fff-84ac-7a0e9c138d4b"
    },
    {
      "contentElementTypeKey": "5084be81-96e4-4fa9-9a0f-9522f3b4568a"
    },
    {
      "contentElementTypeKey": "04f6419d-df24-4321-aef9-737077c79899"
    },
    {
      "contentElementTypeKey": "0af1b584-6614-4160-af40-eed8cd7243a1",
      "settingsElementTypeKey": "e16a2eda-0eac-41df-bb69-593a83487cd4"
    },
    {
      "contentElementTypeKey": "7fc6b321-35ef-48e4-80bc-3e560cf185d9"
    },
    {
      "contentElementTypeKey": "9983d058-aebd-4b1b-b204-ac093d03e1f8"
    }
  ]
}]]></Config>
</DataType>