<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0d07b86-9578-4cb7-9ae8-e7c23ba289ea" Alias="Partner List" Level="1">
  <Info>
    <Name>Partner List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "02cef061-4588-4f4c-873a-00b2ed7d1423",
      "label": "{umbValue: partnerName}"
    }
  ]
}]]></Config>
</DataType>