<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0106f067-9548-479b-b378-d56930975b1b" Alias="Service Item List" Level="1">
  <Info>
    <Name>Service Item List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d8ebbd58-5a26-4029-aeda-c2dbbb25bc64",
      "label": "{umbValue: serviceTitle}"
    }
  ]
}]]></Config>
</DataType>