<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bae065d8-a9d5-4bc2-ac8d-438fd3dadb6f" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d2c6008c-349a-42cc-a08d-6edea04b31fc"
    }
  ]
}]]></Config>
</DataType>