<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2ba659a-cefb-4f49-851a-c0e49e6ff5a6" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b773c9d0-ea78-4db0-90dc-4099383e66f7",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>