<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7e3a000-ed48-4393-a7bf-5eb525e4467d" Alias="Success Story List" Level="1">
  <Info>
    <Name>Success Story List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0109a83b-ff27-4072-9c20-9682735d3149"
    }
  ]
}]]></Config>
</DataType>