<?xml version="1.0" encoding="utf-8"?>
<DataType Key="64e5df8d-8dc3-4e8f-b86a-24dc9269f4e4" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cc12c634-e7a6-47b5-9aa9-9a5245398dfe",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>