<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="007970d7-424f-4a1c-9150-a74b10adf774" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0f2b938c-465e-4b9f-b3a3-69313af99c6b">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="56d18dc4-3a69-46d3-9909-d5d461e78cbc" SortOrder="0">contactPage</ContentType>
    <ContentType Key="49b1e5e4-8b0a-4a70-926f-c2246e95c15a" SortOrder="1">servicePage</ContentType>
    <ContentType Key="327d36ca-c004-42f7-8660-790563377ef2" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2ba064e4-3dea-41ae-bd96-a5c8b28f6995</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>5f978a18-b7af-479d-b84a-ee855ee099d2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a5a068f5-d848-4363-b253-64ad540b1db1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>